


/* --- VARIABLES --- */

$message-author-size: 0.6rem;
/* - Messages - */
$message-font-size: 0.75rem;
$message-padding: 1rem;
$message-max-width: 90%;
$message-radius: 1.2rem;
$message-background-opacity: 0.15;
$message-color: rgba(255, 255, 255, $message-background-opacity);
$message-spacing: 0.3rem;
$message-group-spacing: 2.5 * $message-spacing;

/* Core */
$core-message-background-opacity: 1;
$core-message-color: rgba(75, 89, 167, $core-message-background-opacity);




/* --- GLOBAL --- */

body {
    background-color: rgb(18, 18, 18);
}

.container {
    padding: 1rem;
}

section {
    padding: 1rem;
}

h1, p {
    margin: 0;
}

p {
    font-size: $message-font-size;
}




/* --- HEADER SECTION --- */

.header-section {

    img {
        max-width: 3rem;
        max-height: 3rem;
        border-radius: 100%;
        margin-right: 1rem;
    }    
}




/* --- MESSAGES SECTION --- */

.messages-section {

    .message-group{
        max-width: $message-max-width;
        margin-bottom: $message-group-spacing;

        .message-author {
            font-size: $message-author-size;
            font-weight: lighter;
            margin-bottom: 0.1rem;
        }

        .message {
            width: fit-content;
            padding: $message-padding;
            background-color: $message-color;
            border-radius: $message-radius;
            margin-bottom: $message-spacing;
        }

        .message-core {
            background-color: $core-message-color;
        }
    }

    .message-group-own {
        margin-left: auto;

        .message {
            margin-left: auto;
        }
    }

    .scroll-to-bottom {
        padding-bottom: 20%;
    }

}




/* --- MESSAGE FORM SECTION --- */

.message-form-section {

    input[type="text"] {
        padding: $message-padding;
        border-radius: $message-radius * 2;
        font-size: $message-font-size;
    }

}