$app-background-color: rgb(18, 18, 18);
$app-fonts-color: white;

$core-color: rgb(75, 89, 167);

$room-preview-spacing: 1rem;


$message-author-size: 0.75rem;
/* - Messages - */
$message-font-size: 1rem;
$message-padding: 1rem;
$message-max-width: 90%;
$message-radius: 1.2rem;
$message-background-opacity: 0.15;
$message-color: rgba(255, 255, 255, $message-background-opacity);
$message-spacing: 0.3rem;
$message-group-spacing: 2.5 * $message-spacing;

/* Core */
$core-message-background-opacity: 1;
$core-message-color: rgba(75, 89, 167, $core-message-background-opacity);